{% extends 'main/layout.html' %}

{% block title %}Aktuality{% endblock %}

{% block content %}
 <div class="features">
     <h1>Aktuality</h1>
     {% if posts %}
         {% for p in posts %}
            <div class = "alert alert-danger">
                <h3>{{ p.title }}</h3>
                <p>{{ p.anons }}</p>
                <p>{{ p.time_create }}</p>
            </div>
         {% endfor %}
     {% else %}
        <p>Nemáte žádné záznamy</p>
     {% endif %}

     {# Komentáře #}
 </div>
{% endblock %}