{% extends 'main/layout.html' %}

{% block title %}Liga Mistrů Aktuality{% endblock %}
{% load static %}
{% block news_for_category %}
    <div class="for_category">
        <img class="img_category" src="{% static 'main/img/premier_league.png' %}" alt="stadium">
        <aside class="bgform_for_category">
            <h1 class="header_for_category">Liga Mistrů Aktuality</h1>
            <p class="text_for_category">Nejnovější zprávy týkající se klubů, trenérů a hráčů v Liga Mistrů</p>
        </aside>
        <h1 style="line-height: 2;">Poslední novinky</h1>
        <table>
            <tr>
                <td class="allnews_category" rowspan="4">
                     {% if news %}
                         {% for el in news %}
                            <div class = "news_category">
                                <h3>{{ el.title }}</h3>
                                <p>{{ el.anons }}</p>
                                <p>{{ el.date }}</p>
                            </div>
                         {% endfor %}
                     {% else %}
                        <p>Nemáte žádné záznamy</p>
                     {% endif %}
                     {# Komentáře #}
                </td>
                <th style="text-align: center">Populární zprávy</th>
            </tr>
            <tr>
                <td class="extra_category">
                        {% if news %}
                             {% for el in news %}

                                <div class = "newsextra_category">
                                    <h3>{{ el.title }}</h3>
                                    <p>{{ el.anons }}</p>
                                    <p>{{ el.date }}</p>
                                </div>
                             {% endfor %}
                         {% else %}
                            <p>Nemáte žádné záznamy</p>
                         {% endif %}
                         {# Komentáře #}
                </td>
            </tr>
            <tr>
                <td>Aktuality</td>
            </tr>
            <tr>
                <td>jfjfjf</td>
            </tr>

            <tr>
        </table>

    </div>
{% endblock %}