{% extends 'main/layout.html' %}

{% block title %}O nás{% endblock %}

{% block content %}
<div class="features">
     <h1>O nás</h1>
     <p>Footsoccer360 jsou vlámské noviny, které pokrývají sport.
         Jeho webová stránka kombinuje výraznou typografii s vysoce kvalitními obrázky pro maximální čitelnost.
         Používá také jiné písmo a barevné označení pro reklamy, aby je jasně odlišilo od článků. </p>
     <button class="btn btn-warning">Zásady ochrany osobních údajů</button>
 </div>
{% endblock %}