{% extends 'main/layout.html' %}
{% block title %}{{ title }}{% endblock %}
{% load static %}
{% block content %}
     <div class="cat_page">
{% for c in cats %}
    {% if c.pk == cat_selected %}
         <img class="img_category" src="{% static 'main/img/premier_league.png' %}" alt="stadium">
         <aside class="bgform_for_category">
             <h1 class="header_for_category">{{c.name}} Aktuality</h1>
             <p class="text_for_category">Nejnovější zprávy týkající se klubů, trenérů a hráčů v {{c.name}}</p>
         </aside>
         <h3>{{c.name}}</h3>
    {% endif %}
{% endfor %}
         {% for p in posts %}
            <div class = "news_home_type2">
                <table>
                    <tr>
                        <td>
                            {% if p.photo %}
                                <p><img class="news_home_photo_type2" src="{{p.photo.url}}"></p>
                            {% endif %}
                        </td>
                        <td>
                            <h5><a href="{{ p.get_absolute_url }}">{{ p.title|title }}</a></h5>
                            <p>{{ p.full_text|truncatewords:15 }}</p>
                        </td>
                    </tr>
                </table>
            </div>
         {% endfor %}
     </div>
{% endblock %}