{% extends 'main/layout.html' %}
{% block title %}{{ title }}{% endblock %}
{% load static %}
{% block content %}
     <div class="home_page">
         <table class="home_table_news">
             <tr>
                 <td rowspan="3">
                     <img class="home_img1_news" src="{% static 'main/img/mahrez.png' %}" alt="mahrez" >
                 </td>
             </tr>
             <tr>
                 <td>
                     <img class="home_img2_news" src="{% static 'main/img/nunes.png' %}" alt="nunes" >
                 </td>
             </tr>
             <tr>
                 <td>
                     <img class="home_img3_news" src="{% static 'main/img/realmadrid.png' %}" alt="nunes" >
                 </td>
             </tr>
         </table>
         <div>
             <h3>Poslední novinky</h3>
             {% for p in posts %}
                <div class = "news_home_type1">
                    {% if p.photo %}
                    <p><img class="news_home_photo_type1" src="{{p.photo.url}}"></p>
                    {% endif %}
                    <p class="design_news_home">Category: {{p.cat}}</p>
                    <h5><a href="{{ p.get_absolute_url }}">{{ p.title|title }}</a></h5>
                    <p>{{ p.full_text|truncatewords:15 }}</p>
                    <p class="design_news_home">Date: {{p.time_update|date:"d-m-Y H:i:s"}}</p>
                </div>
             {% endfor %}
         </div>
         <div class="home_pl_news">
             <h3>Premier League</h3>
             {% for p in posts %}
             {% if p.cat_id == 1 %}
                <div class = "news_home_type1">
                    {% if p.photo %}
                    <p><img class="news_home_photo_type1" src="{{p.photo.url}}"></p>
                    {% endif %}
                    <p class="design_news_home">Category: {{p.cat}}</p>
                    <h5><a href="{{ p.get_absolute_url }}">{{ p.title|title }}</a></h5>
                    <p>{{ p.full_text|truncatewords:15 }}</p>
                    <p class="design_news_home">Date: {{p.time_update|date:"d-m-Y H:i:s"}}</p>
                </div>
             {% endif %}
             {% endfor %}
         </div>
         <div class="home_pl_news">
             <h3>La Liga</h3>
             {% for p in posts %}
             {% if p.cat_id == 2 %}
                <div class = "news_home_type1">
                    {% if p.photo %}
                    <p><img class="news_home_photo_type1" src="{{p.photo.url}}"></p>
                    {% endif %}
                    <p class="design_news_home">Category: {{p.cat}}</p>
                    <h5><a href="{{ p.get_absolute_url }}">{{ p.title|title }}</a></h5>
                    <p>{{ p.full_text|truncatewords:15 }}</p>
                    <p class="design_news_home">Date: {{p.time_update|date:"d-m-Y H:i:s"}}</p>
                </div>
             {% endif %}
             {% endfor %}
         </div>
     </div>
{% endblock %}